[submodule "lib/nanopb"]
	path = lib/nanopb
	url = https://github.com/nanopb/nanopb.git
[submodule "assets/protobuf"]
	path = assets/protobuf
	url = https://github.com/flipperdevices/flipperzero-protobuf.git
	shallow = false
[submodule "lib/microtar"]
	path = lib/microtar
	url = https://github.com/amachronic/microtar.git
[submodule "lib/mbedtls"]
	path = lib/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
[submodule "lib/cxxheaderparser"]
	path = lib/cxxheaderparser
	url = https://github.com/robotpy/cxxheaderparser.git
[submodule "lib/heatshrink"]
	path = lib/heatshrink
	url = https://github.com/flipperdevices/heatshrink.git
[submodule "subghz_remote"]
	path = applications/main/subghz_remote
	url = https://github.com/DarkFlippers/SubGHz_Remote.git
	branch = ufw_main_app
